.profile-page{
    margin-left: 20px;
    display: flex;
}

.profile-avatar{
    margin: 15px 0;
    background-color: #fff;
    width: 230px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-sizing: border-box;
    position: relative;
}

.profile-avatar img{
    padding: 15px;
    border-radius: 4px;
}

.profile-avatar button{
    background-color: #cde0f7;
    border-radius: 4px;
    color: #828282;
    padding: 10px;
    cursor: pointer;
    margin: 0 15px 0 15px;
    width: 200px;
    border: none;
}

.profile-avatar button:hover{
    background-color: #c2d5ee;
}

.profile-avatar button:active{
    background-color: #b2c7e2;
}

.avatar__setting{
    position: relative;
}

 .settings {
    position: absolute;
    padding: 10px 18px 10px 35px;
    bottom: 18px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(221, 221, 221);
    font-weight: 400;
    width: 200px;
    animation-name: settings; 
    animation-duration: .5s;
    animation-delay: none;
}

@keyframes settings{
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 78px;
        opacity: 1;
    }
}

.none{
    position: absolute;
    padding: 10px 20px 10px 35px;
    bottom: 18px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(221, 221, 221);
    font-weight: 400;
    width: 200px;
    animation-name: invise; 
    animation-duration: .5s;
    opacity: 0;
}

@keyframes invise{
    from{
        height: 85px;
        opacity: 1;
    }
    to{
        height: 0;
        opacity: 0;
    }
}

.settings li{
    margin-top: 5px;
    cursor: pointer;
}

.settings li img{
    height: 13px;
    width: 13px;
}

.settings li:hover{
    color: #fff;
}

