.header{
    width: 100%;
    height: 42px;
    background-color: #4a76a8;
    display: flex;
    position: relative;
}

.header-items{
    display: flex;
}

.logo{
    width: 24px;
    height: 24px;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}

.bell{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.header-ava{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.header-hashtag{
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.ava_user-name{
    position: absolute;
    display: flex;
    right: 7px;
    top: 3px;
}

.user__Name{
    padding-top: 10px;
    font-weight: bold;
    color: #fff;
}

.search-filter {
    margin-left: 50px;
}

.search-filter input{
    margin-top: 7px;
    padding: 6px 6px 6px 30px;
    box-sizing: border-box;
    border: none;
    width: 230px;
    border-radius: 14px;
    position: relative;
    background-color: #224b7a ;
}

.search-filter input:focus{
    background-color: rgb(255, 255, 255);
    color: #000;
}

.search{
    position: absolute;
    left: 200px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
