.post-container{
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    width: 560px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-sizing: border-box;
    position: relative;
}

.post__block{
    display: inline-flex;
}

.ava__post{
    display: inline-flex;
}

.ava__post .close-icon{
    width: 15px;
    height: 14px;
    opacity: 0.3;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.ava__post .user-ava{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.ava__post p{
    color: #2a5885;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 10px;
}

.ava__post span{
    margin-left: 10px;
    color: #a8a8a8;
}

.existing_posts div{
    margin: 15px 0px 0 0px;
    font-size: 17px;
    font-weight: 500;
}

.show_menu{
    position: absolute;
    min-width: 160px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    top: 35px;
    right: 0;
    border: 1px solid #c5d0db;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    animation-name: show_menu; 
    animation-duration: .3s;
}

@keyframes show_menu{
    from{
        top: 60px;
        opacity: 0;
    }
    to{
        top: 35px;
        opacity: 1;
    }
}

.hide_menu{
    position: absolute;
    min-width: 160px;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    top: 35px;
    right: 0;
    border: 1px solid #c5d0db;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    animation-name: hide_menu; 
    animation-duration: .3s;
    opacity: 0;
}

@keyframes hide_menu{
    from{
        top:35px;
        opacity: 1;
    }
    to{
        top:60px;
        opacity: 0;
    }
}

.show_menu ul{
    padding: 4px 0 4px 0;
}

.show_menu li{
    color:#2a5885;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    font-weight: 400;
}

.show_menu li:hover{
    background-color: #cde0f7;
}