.login{
    background-color: #fff;
    margin-top: 20px;
    width: 300px;
    padding: 10px 20px 20px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-sizing: border-box;
    margin-left: 25px;

    input{
        width: 100%;
        padding: 10px;
        margin: 7px 0px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    }

    h2{
        font-size: 20px;
    }

    button{
        width: 100%;
        height: 30px;
        color: #fff;
        background-color: #274d8a;
        outline: none;
        border-radius: 4px;
        border: none;
    }
}